@use "/src/styles/__globals" as *;

.upload-modal {
    overflow: hidden;
    border-radius: 5px;
    padding: 4rem 2rem;
    background: $dark-gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    &__input {
        width: 80%;
        @include input;
    }

    &__button {
        @include button;
    }
}

.react-responsive-modal-closeButton {
    filter: brightness(0) saturate(100%) invert(89%) sepia(10%) saturate(427%) hue-rotate(324deg) brightness(111%) contrast(87%);

}

.react-responsive-modal-modal {
    background: $dark-gradient;
    border: 2px solid $light;
    border-radius: 5px;
  }