@use "/src/styles/__globals" as *;

.upload-modal {
    overflow: hidden;
    border-radius: 5px;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    &__input {
        margin-top: 0.5rem;
        width: 90%;
        @include input;
    }

    &__label {
        width: 90%;
        text-align: center;
        font-style: italic;
    }

    &__extra-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: -1.5rem auto 1.5rem;
    }

    &__button {
        @include button;
    }
}

.react-responsive-modal-closeButton {
    filter: brightness(0) saturate(100%) invert(89%) sepia(10%) saturate(427%) hue-rotate(324deg) brightness(111%) contrast(87%);
}

.react-responsive-modal-modal {
    background: $dark-gradient;
    border: 2px solid $light;
    border-radius: 5px;
}

input::file-selector-button {
    font-family: 'Montserrat';
    color: $purple;
    border: 1px solid $purple;
    border-radius: 4px;
    padding: 0.25rem 2rem;
    margin-right: 1rem;
}