* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

p, input, div {
    font-size: 1.4rem;
}

h1 {
    text-align: center;
}

main {
    margin: 3rem 2rem;

    & section {
        border-top: 1px solid black;
        padding: 2rem 0;

        &:first-child {
            border-top: none;
            padding: 0 0 2rem 0;
        }

        & h1, h2 {
            text-align: center;
            margin-bottom: 1.2rem;
        }
    }
}