* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

p, input, div {
    font-size: 1.4rem;
}

h1 {
    text-align: center;
}

main {
    margin: 3rem 2rem;
}