@use "/src/styles/__globals" as *;

.signup-page {
    margin: auto;

    &__icon {
        filter: brightness(0) saturate(100%) invert(89%) sepia(10%) saturate(427%) hue-rotate(324deg) brightness(111%) contrast(87%)!important;
        opacity: 0.7;
        @include icon(2rem);
    }

    &__btn {
        position: relative;
        margin: 2rem auto!important;
        width: 25rem;
        display: flex!important;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        z-index: 2;
        @include button;
    }

    &__submit-btn {
        margin: auto;
        transform: translateY(-2.2rem);
        @include button;

        &:hover {
            transform: translateY(-2.2rem) scale(1.05);
        }
    }

    &__cancel-btn {
        @include cancel-button;
    }
}
