@use "/src/styles/__globals" as *;

.login-form {
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__field {
        width: 85%;
        @include input;
    }

    &__submit-btn {
        @include button;
    }

    &__cancel-btn {
        @include cancel-button;
    }
}