.profile {
    margin-top: -1.5rem;

    &__bio {
        padding-bottom: 0.5rem;
        max-width: 70ch;
        margin: auto;
    }

    &__section-heading {
        &--events {
            margin-bottom: 0;
        }
}
}