@use "/src/styles/__globals" as *;

.footer {
    position: fixed;
    bottom: 0;
    padding: 2rem;
    width: 100vw;
    height: 5.5rem;
    background: $dark-gradient;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__icon {
        margin-top: 0.35rem;
        width: 3rem;
        @include icon(3rem);

        &--profile {
            width: 3.5rem;
        }
    }
}