@use "/src/styles/__globals" as *;

.footer {
    position: fixed;
    bottom: 0;
    padding: 0 2rem;
    width: 100vw;
    height: 6rem;
    background: $dark-gradient;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__section {
        display: flex;
        justify-content: space-around;
        width: 50%;

        @include desktop {
            width: 40%;
        }
    }

    a {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        transform: scale(0.8);
        width: 4rem;

        @include desktop {
            padding: 0 6rem;
        }
    }

    &__icon {
        margin-top: 0.5rem;
        @include icon(2.5rem);

        &--profile {
            width: 3rem;
        }
    }

    &__label {
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.05em;
    }

    @include desktop {
        position: absolute;
        top: 0;
        bottom: auto;
    }
}