@use "/src/styles/__globals" as *;

.socials {
    margin: 3rem 0 0rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    &__icon {
        @include icon(1.7rem);
    }
}