// .signup-form {
//     margin: auto;
//     padding: 2rem;
//     width: 70%;

//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 2rem;

//     &__field {
//         padding: 1rem;
//     }

//     &__submit-btn {
//         padding: 1rem;
//         width: 50%;
//     }

//     &__cancel-btn {
//         border: none;
//     }
// }
@use "/src/styles/__globals" as *;

.signup-form {
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__field {
        @include input;
        width: 85%;
    }

    &__submit-btn {
        @include button;
    }

    &__cancel-btn {
        @include cancel-button;
    }
}