@use "/src/styles/__globals" as *;

.post {
    padding: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    // width: 100%;
    // display: grid;
    // grid-template-areas: "avatar username timestamp",
    //                     "spacer content content",
    //                     "spacer reactions spacer";
    // grid-template-columns: 3rem 1fr 1fr;
    // align-items: center;
    // column-gap: 1rem;
    
    & > * {
        text-align: left;
    }

    &__avatar {
        @include avatar(3rem);
        grid-area: "avatar";
    }

    &__username {
        grid-area: "username";
    }

    &__timestamp {
        grid-area: "timestamp";
        text-align: right;
    }

    &__spacer {
        grid-area: "spacer";
    }

    &__content {
        grid-area: "content";
        width: 100%;
        grid-column: span 2;
        
    }

    &__reactions {
        grid-area: "reactions";
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        gap: 0.6rem;
    }

    &__icon {
        @include icon(1.5rem);
    }

    &__likes {
        margin-right: 1rem;
    }
}