@use "/src/styles/__globals" as *;

.post {
    padding: 1rem 0;
    display: flex;
    gap: 1.5rem;
    width: 100%;
    
    & * {
        text-align: left;
        margin-bottom: 0.5rem;
    }

    &__avatar {
        @include avatar(3rem);

        @include desktop {
            @include avatar(5rem);
        }
    }

    &__text {
        width: 100%;
    }

    &__name-and-time {
        display: flex;
        justify-content: space-between;
    }

    &__username {
        font-weight: 500;
        margin: 0 0 -0.5rem 0;
    }

    &__timestamp {
        color: #b1a3cf;
        width: 30%;  
        margin: 0;  
        text-align: right;
    }

    &__reactions {
        display: flex;
        align-items: center;
        margin-top: -0.5rem;
        gap: 2rem;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        color: $light;
    }

    &__icon {
        @include icon(1.5rem);
    }

    &__manage {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        .post__btn {
            padding: 0 1rem;
        }
    }

}