@use "/src/styles/__globals" as *;

@font-face {
    font-family: "Altoys";
    src: url("./assets/fonts/Altoys.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    transition: all linear 0.2s;
}

:root {
    font-size: 10px;

    @include tablet {
        font-size: 12px;
    }

    @include desktop {
        font-size: 13px;
    }
}

body {
    background: #42386b;
    background: linear-gradient(30deg, rgba(39,26,69,1) 0%, rgba(64,44,113,1) 67%);    
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: $light;
}

p, input, div {
    font-size: 1.4rem;
}

p {
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
}

h1, h2 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    color: $light;
    text-decoration: none;
    cursor: pointer;
}

main {
    padding-bottom: 5rem; //prevents footer from overlapping content
    display: block;
    margin: auto;

    & section {
        border-top: 1px solid $purple;
        padding: 3rem 2rem;

        &:first-child {
            border-top: none;
        }

        & h1, h2 {
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    @include tablet {
        max-width: 700px;
    }

    @include desktop {
        max-width: 1200px;
        padding-bottom: 8rem;
    }
}