.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__section:first-of-type {
        padding-top: 4rem;
        padding-bottom: 0.5rem;
    }
}