@use "/src/styles/__globals" as *;

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__section:first-of-type {
        padding-top: 4rem;

        @include tablet {
            padding-top:9rem;
        }
    }

    // &__section-heading{
    //     margin-bottom:  2rem;
    // }
}